project-n8n-clientOnboarding/workflow-clientOnboarding.json
{
  "name": "Client Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "form": "261516096219055"
      },
      "type": "n8n-nodes-base.jotFormTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "17e5b250-e8cf-4cd4-a745-f7947bd6050e",
      "name": "Jotform Trigger",
      "webhookId": "e13bb205-968e-4363-ba71-f769fb4f6270",
      "credentials": {
        "jotFormApi": {
          "id": "fuHh7e7V8jjQvUf3",
          "name": "JotForm account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "027ac2d9-89b5-48d3-9eb6-e77ac0ee7468",
              "leftValue": "={{ $json.Name.first }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "020981cb-2fcf-4b4e-916a-608a544c2ac6",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        240
      ],
      "id": "cae6ccd4-2f24-4e86-9a36-811f03f8482b",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "-1004299124484",
        "text": "=⚠️ Validation Error Detected! The incoming data is missing one or more required fields:  - Customer's first name: {{ $('Jotform Trigger').item.json.Name.first }} - Email: {{ $('Jotform Trigger').item.json.Email }} Please review the submitted data and take action.    📅 Timestamp: {{ new Date().toLocaleString() }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        336
      ],
      "id": "152a529f-9fc1-4763-b5c3-87d481e28b7a",
      "name": "Client Onboarding Bot",
      "webhookId": "f03496a7-657f-4469-8f5e-f68f26959e83",
      "credentials": {
        "telegramApi": {
          "id": "Giss1qsp0A6HEeCe",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Jotform Trigger').item.json.Email }}",
        "additionalFields": {
          "firstName": "={{ $('Jotform Trigger').item.json.Name.first }}",
          "lastName": "={{ $('Jotform Trigger').item.json.Name.last }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "id": "6681e423-0ebc-49fb-8f87-7e8f6132e667",
      "name": "Create HubSpot Contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "Q0BS1xv5qkx5Bq6o",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1004299124484",
        "text": "=🚨 New customer onboarded: Full name: {{ $('Jotform Trigger').item.json.Name.first }} {{ $('Jotform Trigger').item.json.Name.last }} Email: {{ $('Jotform Trigger').item.json.Email }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        240
      ],
      "id": "81bc7857-6803-4673-b184-e8cb218b23bc",
      "name": "Send Team Notification",
      "webhookId": "d1c253dc-cbc8-4a75-ab74-eb54373393f4",
      "credentials": {
        "telegramApi": {
          "id": "Giss1qsp0A6HEeCe",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Jotform Trigger').item.json.Email }}",
        "subject": "Welcome to Daily Bean VIP Loyalty Program!",
        "message": "👋 Welcome to Daily Bean VIP! You’re officially in.<br><br> As a member, you’ll get: <ul> <li>Priority reservations</li><li>Exclusive offers</li> <li>VIP-only surprises</li></ul>🎁 Your first reward is unlocked already - we’ll show you how to use it soon.|",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        48
      ],
      "id": "0547e542-c6d0-4f97-9ba6-2b848e35c95f",
      "name": "Send a message",
      "webhookId": "62ed5235-d055-411e-a76e-065556dbac94",
      "credentials": {
        "gmailOAuth2": {
          "id": "Too9Rl4JQhluk3R6",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        48
      ],
      "id": "0550ddbc-f560-42d4-8bc9-1cd1746b97ac",
      "name": "Wait 2 Hours",
      "webhookId": "37b360e9-bbdb-4759-8e7b-b1e59567f40b"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1YOFDxSL0sR5Bw2wWFCaKrG-Q1NDWcIRZ/view",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        48
      ],
      "id": "6949bc70-2540-4147-9189-d86b3cd93dea",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "F8vKSMz1t59F0VcM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        352
      ],
      "id": "d1d9995a-754e-4467-a240-2016679be90b",
      "name": "Wait 1 Day",
      "webhookId": "920c6d1c-153e-46e9-aa76-12ae6ca5e380"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Jotform Trigger').item.json.Email }}",
        "subject": "How to join our loyalty program",
        "message": "Instructions on loyalty program",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        48
      ],
      "id": "39612709-c228-4054-bbd0-9896897bd22d",
      "name": "Send Loyalty Pgm Message",
      "webhookId": "6ac45528-edbc-4fa5-baba-d5702181ac9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "RIt3Ylz5aZsWGIJL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Jotform Trigger').item.json.Email }}",
        "subject": "Special Offer! Just for you...",
        "message": "Hi 👋,<br><br>|As one of our VIP guests, we’ve unlocked a special offer for you.<br><br>🍹 <b>Unlimited complimentary drinks</b><br>Available for a limited time during your visit.<br><br>Simply book using your priority access and mention your VIP status when you arrive.<br><br>We’ll take care of the rest.<br><br>- <b>Daily Bean Team</b> ☕✨",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1216,
        368
      ],
      "id": "5a050109-adf0-459e-b81c-650dd1401262",
      "name": "Send Special Offer",
      "webhookId": "07a344da-7c83-45cd-b6ff-ad0ed84b7a5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "RIt3Ylz5aZsWGIJL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Jotform Trigger').item.json.Email }}",
        "additionalFields": {
          "leadStatus": "IN_PROGRESS"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1216,
        560
      ],
      "id": "15c2600c-75d9-4ca2-b8b4-09044c86ec8b",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "Q0BS1xv5qkx5Bq6o",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        368
      ],
      "id": "96331ee3-11b6-4e8e-80c3-eda925b9dedd",
      "name": "Wait 2 Days",
      "webhookId": "1f0a061f-85d7-4e0a-9385-001830d31b74"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Jotform Trigger').item.json.Email }}",
        "subject": "Your VIP Onboarding is Complete!",
        "message": "=Hi {{ $('Jotform Trigger').item.json.Name.first }}👋,<br><br> Congratulations - your VIP onboarding is complete.<br><br>You’re officially one of our <b>VIP guests</b>.<br>You can now book a table using <b>priority access</b> at any time.<br><br>🎁 We’ve prepared a special gift for you.<br>It will be available within the next <b>7 days</b>, so we’d love to welcome you back soon.<br><br>Just mention your VIP status when booking or show this email on arrival.<br><br>See you soon,<br><b>Daily Bean Team</b> ☕✨",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1664,
        368
      ],
      "id": "c499d291-5f12-443d-ada2-3c77eee13b7b",
      "name": "Send a message1",
      "webhookId": "f95d332a-7a08-4226-b55c-085cd14451b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "RIt3Ylz5aZsWGIJL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $('Jotform Trigger').item.json.Email }}",
        "additionalFields": {
          "leadStatus": "CONNECTED"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1888,
        272
      ],
      "id": "282b8428-8f0e-4dee-875e-51b9e0300e5b",
      "name": "Create or update a contact1",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "Q0BS1xv5qkx5Bq6o",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1004299124484",
        "text": "=Onboarding for  {{ $('Jotform Trigger').item.json.Name.first }} has finshed. Please prepare a gift. \nEmail: {{ $('Jotform Trigger').item.json.Email }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1888,
        464
      ],
      "id": "0a68ce85-1657-4098-b40c-955ce4f82234",
      "name": "Send a text message",
      "webhookId": "a84a3545-87de-473b-9a45-4385ba75b517",
      "credentials": {
        "telegramApi": {
          "id": "cfGWuqJ2sETbwdUJ",
          "name": "Client Onboarding Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Jotform Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Client Onboarding Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Team Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait 2 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send Loyalty Pgm Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Day": {
      "main": [
        [
          {
            "node": "Send Special Offer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Loyalty Pgm Message": {
      "main": [
        [
          {
            "node": "Wait 1 Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Special Offer": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Create or update a contact1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0e10b0e0-a632-477a-9904-1ef3a8270432",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "834e8f271ef115c4c79120158af2be5f3e3db9aa911904c1ec9a03e4719aedf9"
  },
  "id": "YJC4nTKbfbRr6cKE",
  "tags": []
}