project-n8n-orderMetricsDiscord/workflow-orderMetricsDiscord.json
{
  "name": "D2C Order Metrics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8aaaa33d-3de5-402f-aad4-431e950f3ad2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "<REDACTED_INTERNAL_WEBHOOK_URL>",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "<REDACTED_UNIQUE_ID>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b7f2fc49-20fe-4db0-8844-eff4a500e67e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "<REDACTED_HTTP_HEADER_AUTH_ID>",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afea3af3-c0ca-4844-a6ad-0bf9f3874ff4",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "33df95df-1b5f-4e32-86f2-164e3eeb04b7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c77b735-d438-4e49-87b9-599a603d93f9",
              "name": "orderID",
              "value": "={{ $('HTTP Request').item.json.orderID }}",
              "type": "number"
            },
            {
              "id": "7c49e1d1-3a05-4e2b-b680-dbb9dfac7604",
              "name": "employeeName",
              "value": "={{ $('HTTP Request').item.json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -64
      ],
      "id": "b7fc37d2-62b1-4ffd-a9d4-8a1d0755d7ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "<REDACTED_AIRTABLE_BASE_ID>",
          "mode": "list",
          "cachedResultName": "D2C Orders",
          "cachedResultUrl": "https://airtable.com/<REDACTED_AIRTABLE_BASE_ID>"
        },
        "table": {
          "__rl": true,
          "value": "<REDACTED_AIRTABLE_TABLE_ID>",
          "mode": "list",
          "cachedResultName": "Processed Orders",
          "cachedResultUrl": "https://airtable.com/<REDACTED_AIRTABLE_BASE_ID>/<REDACTED_AIRTABLE_TABLE_ID>"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        832,
        -64
      ],
      "id": "ea60307e-a5a5-4aba-9d66-1d29bbc11c1a",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "<REDACTED_AIRTABLE_TOKEN_API_ID>",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "e0aa4f4a-b99b-456d-865f-132436ea363b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json\n.totalBooked}} booked orders with a total value of {{$json\n.bookedSum}}.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        832,
        96
      ],
      "id": "5307e76e-8d30-43bc-89dc-f2c23077d699",
      "name": "Discord",
      "webhookId": "34d6ba4f-4dcc-4b1a-8502-b0958c4a3506",
      "credentials": {
        "discordWebhookApi": {
          "id": "<REDACTED_DISCORD_WEBHOOK_API_ID>",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1eab577c-9d84-4624-a62a-06a85607ef79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "834e8f271ef115c4c79120158af2be5f3e3db9aa911904c1ec9a03e4719aedf9"
  },
  "id": "S6IWQa1POBTj508K",
  "tags": []
}
